*{
  margin:0;
  padding:0;
}

body{
 
  background-color: rgb(248, 230, 237);

  background-size: cover;
  
}

section{
  flex-direction:column;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  text-align: center;
  color:black;
  text-shadow: 5px 5px 5px white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;

}

#pugheader{
  width: 200px;
 
}





#canvas{

padding-left: 50px;
padding-top:20px;

}
